<h1><%=@recipe.name%> Recipe</h1>
<h2>Ingredients:</h2>
<p><%=@recipe.ingredients%></p>
<h2>Cook Time</h2>
<p><%=@recipe.cook_time%></p>
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Name: </label>
    <input id="name" name="name" type="text" value="<%=@recipe.name%>">
  </p>
  <p>
    <label for="ingredients">Ingredients: </label>
    <input id="ingredients" name="ingredients" type="text" value="">
  </p>
  <p>
    <label for="name"><%=@recipe.name%></label>
    <input id="name" name="name" type="text">
  </p>
  <input type="submit" value="Edit This Recipe">
</form>
